body{
    background-color: #1F2937;
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    padding: 115px 52px;
}

h1, p{
    margin: 0px;
    padding: 0px;
}

#header-white{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

#header-green{
    color: #4ADF86;
    font-size: 50px;
    font-weight: 700;
}

#sub-header{
    color: #D5D4D8;
    font-size: 20px;
    margin-top: 10px;
}

#change-length{
    color: #D5D4D8;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}   

#length{
    color: #0a041d;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    text-align: center;

} 

#generate-btn{
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 15px;
    margin-top: 30px;
    width: 200px;
}

#button-wrapper{
    display: flex;
    flex-direction: column;
}

#increment{
    width: 40px;
    height: 40px;
}

#decrement{
   
    width: 40px;
    height: 40px;
}


#password-one{
    background-color: #273549;
    border: none;
    border-radius: 5px;
    color: #55F991;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 15px;
    margin-top: 60px;
    width: 210px;
    height: 40px;
    margin-right: 24px ;
}

#password-two{
    background-color: #273549;
    border: none;
    border-radius: 5px;
    color: #55F991;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 15px;
    margin-top: 60px;
    width: 210px;
    height: 40px;
}

#password-buttons{
    display: flex;
    flex-direction: row;
}

#non-alpha{
    color: #273549;
    font-size: 10px;
    margin-top: 20px;
    width: 410px;
}