body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    text-align: center;
}


h1{
    color: goldenrod;
    font-size: 50px;
}

#message-el{
    color: white;
    font-style: italic;
    font-size: 30px;
}

#cards-el{
    color: white;
    font-size: 30px;
}

#sum{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button{
    background-color: goldenrod;
    border: none;
    color: #016f32;
    width: 150px;
    font-size: 15px;
    box-shadow: 2px 2px rgb(0, 0, 0);
    border: 2px solid rgba(95, 92, 92, 0.717);
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}