body{
    background: #1F2937;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#head{
    background: #6943FF;
    padding: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#value{

    height: 50px;
    width: 80px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    background: #6943FF;
    border: 2px solid #B295FF;
    font-weight: bolder;
    color: rgb(225, 225, 244);
}

#convert-btn{
    background: white;
    color: #3d3d3d;
    border: none;
    border-radius: 5px;
    padding: 17px;
    font-weight: 800;
    cursor: pointer;
}


#conversion{
    background: #273549;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
    color: #CCC1FF;
}

#result{
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}