@font-face {
    font-family: DigitalClock;
    src: url("digital.ttf");
    
}

body {
    margin: 0;
    background-color: rgb(25, 30, 59);
}

.container {
    display: flex;
    justify-content: space-evenly;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    margin: 0;
}

#home_score {
    font-family: DigitalClock;
    font-size: 100px;
    color: red;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 150px;
    
}

#guest_score {
    font-family: DigitalClock;
    font-size: 100px;
    color: red;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 150px;
    
}

#button-wrapper{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#increment-one{
    font-family: DigitalClock;
    font-size: 30px;
    color: #9AABD8;
    background-color: transparent;
    border: 2px solid ;
    border-radius: 5px;
    width: 40px;
}

#increment-two{
    font-family: DigitalClock;
    font-size: 30px;
    color: #9AABD8;
    background-color: transparent;
    border: 2px solid ;
    border-radius: 5px;
    width: 40px;
}

#increment-three{
    font-family: DigitalClock;
    font-size: 30px;
    color: #9AABD8;
    background-color: transparent;
    border: 2px solid ;
    border-radius: 5px;
    width: 40px;
}