@font-face {
    font-family: DigitalClock;
    src: url("digital.ttf");
    
}

body {
    margin: 0;
    background-color: rgb(25, 30, 59);
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    margin: 0;
}

#home_score {
    font-family: DigitalClock;
    font-size: 100px;
    color: red;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
}

#guest_score {
    font-family: DigitalClock;
    font-size: 100px;
    color: red;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
}