body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

input{
    width: 100%;
    height: 35px;
    border: 1px solid #5f9341;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

button{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    border: none;
    font-weight: bold ;

}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}
