body{
    background: saddlebrown;
    color: chocolate;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.cookie {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}