@font-face {
    font-family: 'Smythe';
    src: url("Smythe-Regular.ttf");

}

body {
    margin: 0;
    font-family: 'Smythe', sans-serif;
}



#header {
    background-image: url('images/header.jpeg');
    background-position: center;
    background-size: cover;
    padding: 10px;
}

#restaurant-name {
    color: aliceblue;
    padding: 20px;
    font-size: 40px;
    margin: 0px;

}

#restaurant-exp {
    color: aliceblue;
    padding: 20px;
    font-size: 20px;
    margin: 0px;

}

.menu-item-left {
    width: 100%;
    border-bottom: 10px solid #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu-emoji {
    font-size: 120px;
    padding: 10px;
}

.menu-details {
    padding: 10px;
}

.menu-item-name {
    font-size: 30px;
    font-weight: bold;
}

#add-order-btn {
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    font-size: 20px;
    font-weight: lighter;
    float: right;
    margin-right: 50px;

}

.order-header {
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 30px;

}

.order-item {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    border-top: 5px solid #000000;
    margin-left: 40px;
    margin-right: 40px;
}

.complete-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-order-btn {
    font-family: 'verdana';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: #16DB99;
    margin-left: 40px;
    margin-right: 40px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}