/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
    
}

.hero{
    display: flex;
    flex-direction: column;
    height: 340px;
    background-image: url(images/aydin.jpeg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-left: 247px;
    padding-right: 247px;
    padding-top: 120px;
    color: white;
}

#header{
    background: #1D3557;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#subheader{
    background: #457B9D;
    border-radius: 10px;
    padding-left: 28px;
    padding-right: 29px;
    padding-top: 5px;
    padding-bottom: 8px; 
}




