/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
    
}

.hero{
    display: flex;
    flex-direction: column;
    background-image: url(images/aydin.jpeg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-left: 247px;
    padding-right: 247px;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
}

#header{
    background: #1D3557;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

#subheader{
    background: #457B9D;
    border-radius: 10px;
    padding-left: 28px;
    padding-right: 29px;
    padding-top: 5px;
    padding-bottom: 8px; 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18.72px;
    width: 50vw;
}

.activities{
    background-color: #F1FAEE;


}
#header_2{
    color: #1D3557;
    margin: auto;
    padding-top: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    
}

.activity-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.activity{
    padding: 10px;
}

#act_img{
 
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

#act_header{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#act_text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.guide{
    background-color: #A8DADC;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 160px 50px 160px 50px;
    box-shadow: 0px 6px 0px;
    border-radius: 10px;
}

#img{
    border-radius: 10px;
    padding-left: 13px;
    padding-right: 20;
}

#infos{
    padding-left: 20px;
    padding-right: 20px;
}

#paragraph{
    font-style: italic;
    font-family: 'Arial';
}




